# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
notifications:
  email: false
sudo: required
dist: trusty
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd())'
  - wget http://scip.zib.de/download/release/scipoptsuite-5.0.0.tgz
  - tar xzf scipoptsuite-5.0.0.tgz
  - cd scipoptsuite-5.0.0/
  - export SCIPOPTDIR=`pwd`/install
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=$SCIPOPTDIR ..
  - make
  - make install
  - cd ..
  - julia -e 'Pkg.build("SCIP"); Pkg.test("SCIP"; coverage=true)'
